; begin auth token
//pkgs.dev.azure.com/sima-ssw/SIMA/_packaging/sima-bot/npm/registry/:username=sima-ssw
//pkgs.dev.azure.com/sima-ssw/SIMA/_packaging/sima-bot/npm/registry/:_password=[TOKEN]
//pkgs.dev.azure.com/sima-ssw/SIMA/_packaging/sima-bot/npm/registry/:email=test@example.com
//pkgs.dev.azure.com/sima-ssw/SIMA/_packaging/sima-bot/npm/:username=sima-ssw
//pkgs.dev.azure.com/sima-ssw/SIMA/_packaging/sima-bot/npm/:_password=[TOKEN]
//pkgs.dev.azure.com/sima-ssw/SIMA/_packaging/sima-bot/npm/:email=test@example.com
; end auth token

registry=https://pkgs.dev.azure.com/sima-ssw/SIMA/_packaging/sima-bot/npm/registry/
always-auth=true